name: Continuous Integration
on:
  pull_request:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  setup:
    name: "Setup"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

  test-assume-iam-role:
    name: "Test Assume IAM Role"
    needs: [setup]
    uses: ./.github/workflows/test-assume-iam-role.yaml

  test-get-repo-emoji:
    name: "Test Get Repo Emoji"
    needs: [setup]
    uses: ./.github/workflows/test-get-repo-emoji.yaml

  test-update-profile-readme:
    name: "Test Update Profile README"
    needs: [setup]
    uses: ./.github/workflows/test-update-profile-readme.yaml