name: Continuous Delivery
on:
  push:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  setup:
    name: "Setup"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

  test-assume-iam-role:
    name: "Test Assume IAM Role"
    needs: [setup]
    uses: ./.github/workflows/test-assume-iam-role.yaml

  test-get-repo-emoji:
    name: "Test Get Repo Emoji"
    needs: [setup]
    uses: ./.github/workflows/test-get-repo-emoji.yaml

  test-update-profile-readme:
    name: "Test Update Profile README"
    needs: [setup]
    uses: ./.github/workflows/test-update-profile-readme.yaml

  bump-version:
    name: "Bump version"
    needs:
      - test-assume-iam-role
      - test-get-repo-emoji
      - test-update-profile-readme
    uses: ./.github/workflows/bump-version.yaml
