name: Test get-repo-emoji
description: Test the `get-repo-emoji` action.

on:
  workflow_call:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Assume IAM Role with defaults
        id: assume-iam-role
        uses: ./assume-iam-role
        with:
          role-to-assume: ${{ vars.IAM_ROLE_TO_ASSUME }}

      - name: Get GitHub Token
        id: get-github-token
        uses: ./get-github-token
        with:
          github-app-id-secret-path: ${{ vars.APP_ID_SECRET_PATH }}
          github-app-private-key-secret-path: ${{ vars.APP_PRIVATE_KEY_SECRET_PATH }}

      - name: Get Repo Emoji
        id: get-emoji
        uses: ./get-repo-emoji
        env:
          GITHUB_TOKEN: ${{ steps.get-github-token.outputs.github-token }}
        with:
          repo: 'github-actions'
          owner: 'bitterbridge'

      - name: Show Repo Emoji
        id: show-emoji
        shell: bash
        run: |
          echo "The emoji for the repository is: ${{ steps.get-emoji.outputs.emoji }}"
