name: Test assume-iam-role
run-name: Test the `assume-iam-role` action.

on:
  workflow_call:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Assume IAM Role with defaults
        id: assume-iam-role
        uses: ./assume-iam-role
        with:
          role-to-assume: ${{ vars.IAM_ROLE_TO_ASSUME }}

      - name: Assume IAM Role and save to profile
        id: assume-iam-role-2
        uses: ./assume-iam-role
        with:
          profile: test-profile
          role-to-assume: ${{ vars.IAM_ROLE_TO_ASSUME }}
          save-to-profile: true
          zap-credentials: true
